# Cache, temp and personal files
/.htaccess
*.log
/*.sql

# MISC
google*.html
*sitemap.xml
/robots.txt

# Download
/download/*
!/download/.htaccess
!/download/index.php

# Images
/img/*
!/img/.htaccess
!/img/index.php
!/img/404.gif
!/img/bg_500.png
!/img/bg_loader.png
!/img/favicon.ico
!/img/loader.gif
!/img/loadingAnimation.gif
!/img/logo.jpg
!/img/logo.png
!/img/logo_invoice.jpg
!/img/logo_stores.png
!/img/macFFBgHack.png
!/img/prestashop-avatar.png
!/img/prestashop@2x.png
!/img/preston-login-wink@2x.png
!/img/preston-login@2x.png
!/img/questionmark.png
!/img/genders/index.php
!/img/admin/index.php
!/img/c/index.php
!/img/cms/index.php
!/img/co/index.php
!/img/jquery-ui
!/img/l/index.php
!/img/m/index.php
!/img/os/index.php
!/img/p/index.php
!/img/s/index.php
!/img/scenes
!/img/st/index.php
!/img/su/index.php
!/img/t/index.php
!/img/tmp/index.php


# Upload
/upload/*
!/upload/.htaccess
!/upload/index.php


/admin*/autoupgrade/*
!/admin*/autoupgrade/index.php
!/admin*/autoupgrade/backup/index.php
/admin*/backups/*
!admin*/backups/.htaccess
!admin*/backups/index.php
/admin*/import/*
!/admin*/import/.htaccess
!/admin*/import/index.php
/admin*/export/*
!/admin*/export/.htaccess
!/admin*/export/index.php

themes/*/cache/*
themes/*/assets/cache/*

app/config/parameters.php

node_modules/*

/var/cache/*
/var/logs/*
/var/sessions/*