.addons-style-img_preview-theme{
    max-width: 100%;
}
.hide{
	display: none;
}
#product_form{
	margin-left: 0px;
}
#divPackItems li span{
	display: block;
	margin-top: 5px;
}
.upsell_pr_list li{
	float: left;
	width: 125px;
	height: 190px;
	margin-left: 6px;
	text-align: center;
	border: solid 1px #AAA;
	box-shadow: 1px 1px 2px #AAA;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	margin-right: 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}
.upsell_pr_title,.upsell_pr_ref{
	display: block;
	margin-top:5px;
}
.delete_upsell_pr{
	position: absolute;
	top: 1px;
	right: 3px;
}

/*ps 1.5 style*/
.form_content{
    margin-left: 170px !important;
}
.form_content .table_grid{
    background-color: #EBEDF4;
    border: 1px solid #CCCED7;
    color: #585A69;
    font-size: 1.1em;
    margin: 0;
    padding: 1em;
}
.productTabs{
    background: #fff;
    border: none;
    margin-right: 20px;
}
.productTabs ul li.tab-row a{
    margin-bottom: -1px;
    border: 1px solid #ddd;
}
.productTabs ul li.tab-row a.selected{
    border-right: 1px solid #CCCED7;
}
.productTabs ul li.tab-row:first-child  a{
    border-top: 1px solid #CCCED7;
}

.listOfPack{
    margin-top: 10px;
}
.listOfPack ul li{
    display: inline-block;
    width: 125px;
    height: 190px;
    margin-left: 6px;
    text-align: center;
    border: solid 1px #AAA;
    box-shadow: 1px 1px 2px #AAA;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px; 
}
.listOfPack li span{
    display: block;
    margin-top: 5px;
}
.product-pack-title,.product-pack-ref{
    display: block;
    margin-top:5px;
}
.delete_custom_product{
    position: absolute;
    top: 1px;
    right: 3px;
}
.custom-product-errors{
    margin: 5px 17% !important;
    width: 235px;
}


